<!DOCTYPE html>
<html class="default history">
  <head>
    <title>SmartSaver</title>

    <!-- Auth0Lock script -->
    <script src="//cdn.auth0.com/js/lock-9.1.min.js"></script>
    <% if(typeof window !== undefined ) { %>

    <% } %>
    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/css/isaver.css">

    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
  </head>
  <body>
    <div id="root"><%= body %></div>
    <script src="/static/bundle.js?0.0.3"></script>
  </body>
</html>
