/* overrides */
button {
  outline: none !important;
}
.SingleDatePicker__picker--full-screen-portal {
  zoom: 2;
  font-weight: 200;
}
@media (min-width: 512px) and (max-width: 767px) {
  .SingleDatePicker__picker--full-screen-portal {
    zoom: 1.5;
    font-weight: 300;
  }
}
@media (max-width: 511px) {
  .SingleDatePicker__picker--full-screen-portal {
    zoom: 1.0;
    font-weight: 400;
  }
}
.isaver-ajax-container {
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.74);
  z-index: 100;
}
.isaver-ajax-spinner {
  margin: 0 auto;
  display: block !important;
  margin-top: 30%;
  zoom: 2;
  color: #6cc4e0;
}
.isaver-mode-buttons {
  width: 208px;
}
.isaver-charts {
  height: 550px;
}
.isaver-dp {
  display: inline-block;
  padding: 14px 20px 16px 20px;
  background: #e6e5e5;
}
.isaver-select {
  border-radius: 0;
  height: 50px;
  box-shadow: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 1.33em;
  line-height: inherit;
  font-weight: 300;
  color: gray;
}
.isaver-h3-select {
  display: inline-block;
  margin: 12px 0 0 19px;
  font-weight: lighter;
  font-style: italic;
}
.isaver-dr-select {
  width: calc(100% - 434px);
  display: inline-block;
  float: right;
  font-size: 1em;
}
.isaver-select-caret-down {
  position: absolute;
  top: 22px;
  right: 25px;
}
.isaver-select-caret-up {
  top: 14px;
  position: absolute;
  right: 25px;
}
.isaver-mode {
  width: 50%;
  height: 100%;
  display: inline-block;
  padding: 23px 29px;
  color: rgba(255, 255, 255, 0.97);
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  cursor: pointer;
}
.isaver-mode:hover {
  background: rgba(255, 255, 255, 0.1);
}
.isaver-mode.active {
  background: rgba(255, 255, 255, 0.19);
}
.isaver-control-label {
  font-weight: 300;
  font-style: italic;
  color: #969696;
}
.isaver-edit-buttons {
  display: inline-block;
  margin-bottom: 16px;
}
.isaver-navbar-profile-picture {
  height: 36px;
  float: right;
  border-radius: 18px;
  margin: 6px;
  margin-top: 7px;
}
.isaver-header {
  background: #20b7f7;
  margin-top: 0;
  float: left;
  width: 100%;
}
.isaver-header.isaver-income {
  background: #f1950a;
}
.isaver-header h1 {
  color: #fbf0f0;
  font-weight: 300;
  margin: 24px 0 24px 0;
  width: calc(100% - 208px);
  display: inline-block;
}
.isaver-helptext {
  font-style: italic;
  color: #cacaca;
  float: right;
}
.isaver-navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.isaver-add-amount {
  margin-top: 5px;
}
.isaver-table-no-data {
  text-align: center;
  background: #f7f6f6;
  font-style: italic;
  color: #9a9898;
}
.isaver-no-scroll {
  overflow: hidden !important;
}
.isaver-disclaimer {
  color: gray;
  font-weight: 200;
}
.isaver-dp-container {
  margin-top: 16px;
}
.isaver-input {
  border-radius: 0;
  box-shadow: none;
  font-size: 1.33em;
  height: 50px;
  font-weight: 200;
}
.isaver-button {
  font-size: 1.33em;
  height: 50px;
  min-width: 45px;
}
.isaver-input.isaver-input-amount {
  color: #f59a22;
}
@media (max-width: 767px) {
  .isaver-header h1, .isaver-mode-buttons {
    width: 100%;
    float: left;
  }
  .isaver-mode-buttons {
    height: 32px;
    padding: 0;
  }
}
