button {
  outline: none !important;
}
.isaver-mode-buttons {
  width: 208px;
}
.isaver-charts {
  height: 550px;
}
.isaver-mode {
  width: 50%;
  height: 100%;
  display: inline-block;
  padding: 23px 29px;
  color: rgba(255, 255, 255, 0.97);
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  cursor: pointer;
}
.isaver-mode:hover {
  background: rgba(255, 255, 255, 0.1);
}
.isaver-mode.active {
  background: rgba(255, 255, 255, 0.19);
}
.isaver-control-label {
  font-weight: 300;
  font-style: italic;
  color: #969696;
}
.isaver-edit-buttons {
  display: inline-block;
  margin-bottom: 16px;
}
.isaver-navbar-profile-picture {
  height: 36px;
  float: right;
  border-radius: 18px;
  margin: 6px;
  margin-top: 7px;
}
.isaver-header {
  background: #20b7f7;
  margin-top: 0;
  float: left;
  width: 100%;
}
.isaver-header.isaver-income {
  background: #f1950a;
}
.isaver-header h1 {
  color: #fbf0f0;
  font-weight: 300;
  margin: 24px 0 24px 0;
  width: calc(100% - 208px);
  display: inline-block;
}
.isaver-helptext {
  font-style: italic;
  color: #cacaca;
  float: right;
}
.isaver-navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.isaver-add-amount {
  margin-top: 5px;
}
.isaver-table-no-data {
  text-align: center;
  background: #f7f6f6;
  font-style: italic;
  color: #9a9898;
}
.isaver-disclaimer {
  color: gray;
  font-weight: 200;
}
.isaver-input {
  border-radius: 0;
  box-shadow: none;
  font-size: 1.5em;
  height: auto;
  font-weight: 200;
}
.isaver-button {
  font-size: 1.5em;
}
.isaver-input.isaver-input-amount {
  color: #f59a22;
}
@media (max-width: 767px) {
  .isaver-header h1, .isaver-mode-buttons {
    width: 100%;
    float: left;
  }
  .isaver-mode-buttons {
    height: 32px;
    padding: 0;
  }
}
